.image-container {
    position: relative;
    width: 200px; /* Initial width */
    height: 200px; /* Initial height */
    overflow: hidden; /* To hide overflow when image grows */
    transition: all 0.3s ease; /* Smooth transition for container size */
    border: 2px solid black;
}

.main-image,
.hover-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth scaling transition */
    position: absolute;
    /* top: 0;
    left: 0; */
}

.hover-image {
    opacity: 0; /* Hide hover image initially */
    transition: opacity 0.3s ease; /* Smooth fade-in for hover image */
}

.image-container:hover {
    width: 240px; /* New width on hover */
    height: 240px; /* New height on hover */
}

.image-container:hover .main-image {
    transform: scale(1.2); /* Increase size on hover */
}

.image-container:hover .hover-image {
    opacity: 1; /* Show hover image */
    transform: scale(1.2); /* Increase size on hover */
}
